.breadcrumb {
    background-color: rgb(21, 138, 216);
}
.breadcrumb h1{
    font-size: 30px;
    padding: 28px 0px;
    color:white;
}
.bx_shadow {
    box-shadow: 3px 2px 8px 2px rgb(6, 50, 113);
    border-radius: 10px;    
    padding: 40px;
}
.bx_shadow input {
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(6, 50, 113) ;
    /* padding: 10px;
    width: 100%;
    border: 1px solid rgb(6, 50, 113); */
}
.bx_shadow label {
    font-size: 20px;
    color: rgb(6, 50, 113);
    font-weight: bold;
}
a {
    text-decoration: none;
    
}
.adminsidebar li {

    list-style-type: none;
    margin-bottom: 18px;
}

.adminsidebar li a {
    font-weight: 600;
    color: #000;
}
/* add doctor */
.dbox_shadow {
    box-shadow: 3px 2px 8px 2px rgb(6, 50, 113);
    border-radius: 10px;    
    padding: 40px;
}
.dbox_shadow input{
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(6, 50, 113) ;
}
.dbox_shadow label {
    font-size: 20px;
    color: rgb(6, 50, 113);
    font-weight: bold;
}
/*  */
.menuButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1051; /* Higher than offcanvas backdrop */
    font-size: 1.5rem;
  }
  
  .adminsidebar {
    padding-left: 0;
  }

  /* treatment table styles */
  table, tr, th, td {
    border: 1px solid #ccc;
  } 
  th,td{
    padding: 10px;
  }